<!DOCTYPE html>
<html lang="en">
    <script src="~/js/textarea-persistsize.js" asp-append-version="true"></script>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SmartPaste</title>
    </head>
    <body>
        <header>
            <a asp-area="" asp-page="/Index">New paste</a>
        </header>
        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </body>
</html>
