@page
@model IndexModel

<div>
    <style>
        #textarea {
            box-sizing: border-box; /* so resize observer will work properly */
        }
    </style>

    <form id="form" method="post">
        <p><textarea id="textarea" asp-for="Text"></textarea></p>

        Delete:
        @foreach (var exp in Enum.GetValues<SmartPaste.Model.Expiration>())
        {
            var name = Enum.GetName<SmartPaste.Model.Expiration>(exp);
            var id = $"{nameof(SmartPaste.Model.Expiration)}_{name}";
            if (IndexModel.ExpirationCaptions.ContainsKey(exp))
                name = IndexModel.ExpirationCaptions[exp];

            <input type="radio" asp-for="Expiration" value="@exp" id="@id" />
            <label style="font-size: 12px" for="@id">@name</label>
        }

        <p><button id="saveBtn" type="submit">Save</button></p>
    </form>

    <script>
        const textarea = document.getElementById('textarea');
        const form = document.getElementById('form');

        // Ctrl+Enter handle
        textarea.addEventListener('keydown', (e) => {
            if (e.key === 'Enter' && e.ctrlKey) {
                e.preventDefault();
                form.requestSubmit();
            }
        });
    </script>
</div>
