@page
@model IndexModel

<div>
    <style>
        #textarea {
            box-sizing: border-box; /* so resize observer will work properly */
        }
    </style>

    <p>Paste the text:</p>
    <form id="form" method="post">
        <p><textarea id="textarea" asp-for="Text"></textarea></p>
        <p><button type="submit">Save</button></p>
    </form>

    <script>
        const textarea = document.getElementById('textarea');
        const form = document.getElementById('form');

        // Ctrl+Enter handle
        textarea.addEventListener('keydown', (e) => {
            if (e.key === 'Enter' && e.ctrlKey) {
                e.preventDefault();
                form.requestSubmit();
            }
        });
    </script>
</div>
