@page
@model IndexModel

<div>
    <form id="form" method="post">
        <p>
        <textarea 
            id="textarea" 
            class="ta-autosize"
            asp-for="Text"></textarea>
        </p>

        Delete:
        @foreach (var kvp in IndexModel.ExpirationCaptions)
        {
            var id = $"{nameof(SmartPaste.Model.Expiration)}_{kvp.Value}";
            var name = kvp.Value;
            var exp = kvp.Key;

            <input type="radio" asp-for="Expiration" value="@exp" id="@id" />
            <label style="font-size: 12px" for="@id">@name</label>
        }

        <p><button id="saveBtn" type="submit">Save</button></p>
    </form>

    <script>
        const textarea = document.getElementById('textarea');
        const form = document.getElementById('form');

        // Ctrl+Enter handle
        textarea.addEventListener('keydown', (e) => {
            if (e.key === 'Enter' && e.ctrlKey) {
                e.preventDefault();
                form.requestSubmit();
            }
        });

        const MAX_HEIGHT = 500;

        function autoResize() {
            textarea.style.height = 'auto';

            if (textarea.scrollHeight > MAX_HEIGHT) {
                textarea.style.height = MAX_HEIGHT + 'px';
                textarea.style.overflowY = 'auto';
            } else {
                textarea.style.height = textarea.scrollHeight + 'px';
                textarea.style.overflowY = 'hidden';
            }
        }

        textarea.addEventListener('input', autoResize);
        window.addEventListener('load', autoResize);
    </script>
</div>
