@page "/{link}"
@model SmartPaste.Pages.PasteModel

<div>
    <style>
        .copyStatus {
            color: green; 
            display: none; 
            margin-left: 8px;
        }

        #textarea:read-only {
            background-color: #F3F3F3;
        }

        #textarea:focus { outline: none; box-shadow: none; }
    </style>

    <h3>@($"Paste {Model.Paste.Link}")</h3>

    @if (Model.Paste.Protected && !Model.GetUnlocked(Model.Paste.Link))
    {
        <form method="post" asp-page-handler="unlock" asp-route-link="@Model.Paste.Link">
            Password: 
            <input id="passwordInput"
                type="password"
                asp-for="Password" />

            <button type="submit">Unlock</button>
        </form>
    }
    else
    {
        @if (!Model.Paste.NeverDelete)
        {
            if (Model.Paste.OneShot)
            {
                if (Model.IsOneShotShown)
                {
                    <span style="color: #FF4444">Warning! Paste will be deleted after
                        you close or reload this page!</span>
                }
                else
                {
                    <span style="color: #FF4444">Warning! After you press "Show
                        paste" button, paste will be shown only once!</span>
                }
            }
            else
            {
                var createdUtc = DateTime.SpecifyKind(Model.Paste.Created,
                DateTimeKind.Utc);
                var dt = createdUtc.AddMinutes(Model.Paste.ExpiresMin);
                var ms = new DateTimeOffset(dt).ToUnixTimeMilliseconds();
                <span>Paste will be deleted at </span>
                <span id="when" data-utc-ms="@ms"></span>
            }
        }

        <p>
            @if (Model.Paste.OneShot && !Model.IsOneShotShown)
            {
                <form method="post" asp-page-handler="show" asp-route-link="@Model.Paste.Link">
                    <button type="submit">
                        Show paste
                    </button>
                </form>
            }
            else
            {
                <textarea 
                    id="textarea" 
                    class="ta-autosize"
                    asp-for="Paste.Text" 
                    readonly></textarea>
            }
        </p>

        @if (!Model.Paste.OneShot || Model.IsOneShotShown)
        {
            <p>
                <button id="copyTextBtn">Copy text</button>
                <span id="copyTextStatus" class="copyStatus">Copied!</span>
            </p>
        }
    }

    @if (!Model.Paste.OneShot || !Model.IsOneShotShown)
    {
        <p>
            <button id="copyLinkBtn">Copy link</button>
            <span id="copyLinkStatus" class="copyStatus">Copied!</span>
        </p>
    }

    <script>
        const textarea = document.getElementById('textarea');

        const statuses = [
            document.getElementById('copyTextStatus'),
            document.getElementById('copyLinkStatus')
        ];

        function showStatus(statusEl) {
            for (const s of statuses)
                if (s)
                    s.style.display = 'none';
            
            statusEl.style.display = 'inline';
        }

        async function copyToClipboard(text) {
            await navigator.clipboard.writeText(text ?? '');
        }

        const copyTextButton = document.getElementById('copyTextBtn');
        if (copyTextButton)
        {
            copyTextButton.addEventListener('click', async () => {
                await copyToClipboard(textarea.value);
                showStatus(document.getElementById('copyTextStatus'));
            });
        }


        const copyLinkButton = document.getElementById('copyLinkBtn');
        if (copyLinkButton)
        {
            copyLinkButton.addEventListener('click', async () => {
                const url = new URL(window.location.href);
                const baseUrl = url.origin + url.pathname;
                await copyToClipboard(baseUrl);
                showStatus(document.getElementById('copyLinkStatus'));
            });
        }
    </script>

    <script>
        const whenEl = document.getElementById('when');
        if (whenEl)
        {
            const ms = Number(whenEl.dataset.utcMs);
            const local = new Date(ms);
            whenEl.textContent = local.toLocaleString();
        }
    </script>
</div>
